extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/forms.css")
    link(rel="stylesheet" href="/css/main.css")
block content
    main
        if errorMessage 
            .user-message.user-message--error #{errorMessage}
        form.login-form(action="/new-password",method="POST")
            .form-control
                label(for="password") Password
                input#imageUrl(type="password",name="password")
            button.btn(type="submit",id="btn01") Update Password
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="userId" value=userId)
            input(type="hidden" name="passwordToken" value=passwordToken)