    <header class="header">
        <nav class="nav">
            <ul class="ul">
                <li class="li"><a class="<%= path === '/' ? 'a' : '' %>" href="/">Shop</a></li>
                <li class="li"><a class="<%= path === '/add-product' ? 'a' : '' %>" href="/admin/add-product">Product Page</a></li>
            </ul>
        </nav>
    </header>