<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pagetitle}
        block styles
    body
        header.header
            nav.nav
                ul.ul
                    li.li
                        a(href='/',class=(path === '/' ? 'a' : '')) Shop
                    li.li
                        a(href='/product',class=(path === '/product' ? 'a' : '')) Products
                    li.li
                        a(href='/cart',class=(path === '/cart' ? 'a' : '')) Cart
                    li.li
                        a(href='/order',class=(path === '/order' ? 'a' : '')) Order
                    if isAuthenticated
                        li.li
                            a(href='/admin/add-product',class=(path === '/add-product' ? 'a' : '' )) Add Product
                        li.li
                            a(href='/admin/admin-product',class=(path === '/admin-product' ? 'a' : '' )) Admin Product
                ul.main-header__item-list
                    li.main-header__item
                        a(href='/login',class=(path === '/login' ? 'a' : '')) Login
        block content

