extends layouts/main-layout.pug

block styles
    link(rel="stylesheet",href="/css/404.css")
block content
    main
        h1.first Page not found !!

//- <!DOCTYPE html>
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title #{Wrongpage}
//-         link(rel="stylesheet",href="/css/404.css")
//-     body
//-         header.header
//-             nav.nav
//-                 ul.ul
//-                     li.li
//-                         a.a(href='/') Shop
//-                     li.li
//-                         a(href='/admin/add-product') Product Page
//-         main
//-             h1.first Page not found !!