<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <main>
        <%- include('includes/navigation.ejs') %>
        <h1 class="first">Page not found !!</h1>
    </main>
<%- include('includes/end.ejs') %>